.container{
    position: relative;
    padding: 50px;
}
.btns{
    background-color: blue;
    position: absolute;
    right: 0px;
    top: 3px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    
}
